header {
    color:black
    padding: 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center; 
}
nav a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px; 
    font-family:'Dancing Script';
}
nav a:hover {
    background-color: lightblue;
    color: #333;
}
.header-title {
    font-size: 3em; 
    text-align: center; 
    margin: 0; 
    padding: 30px; 
    background-color: lightblue; 
    font-family: 'Permanent Marker';
}
body {
    font-family: 'Waiting for the Sunrise ';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    font-family: 'Nothing You Could Do';
    text-align: left;
    padding: 5px;
    
}
.place-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: fantasy;
}
.place {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-sizing: border-box;
    transition: transform 0.3s ease; 
}
.place:hover {
    transform: translateY(-5px); 
}
.place .place-info {
    display: none; 
}
.place:target .place-info {
    display: block; 
}
.place img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.place-info {
    text-align: center;
}
.place-info h2 {
    margin-top: 0;
}
.place-info p {
    margin-bottom: 5px;
}
.container {
    width: 80%; 
    margin: 0 auto; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.distance {
    font-family: 'Architects Daughter';
    font-size: 14px; 
    font-weight: bold; 
}
.transportation {
    font-family: 'Caveat';
    font-style: italic;
    font-size: 14px; 
}
.location{
    font-family: 'Amatic SC';

    font-size: 14px; 
}
.content {
    font-family: 'Tangerine';
    font-size: 23px;
}
